<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/styles_user.css}" rel="stylesheet" />
  <title>Title</title>
</head>
<body>
<div class="login-wrap">
  <div class="login-html">
    <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Modify</label>
    <div class="login-form">
      <form th:action="@{/user/modify}" th:object="${userModifyForm}" method="post">
        <div class="sign-up-htm">
          <div class="group">
            <label class="label">ID</label>
            <input type="text" class="input" th:field="*{id}" readonly="true">
          </div>
<!--          <div class="group">-->
<!--            <label for="pass" class="label">Password</label>-->
<!--            <input type="password" class="input" th:field="*{afterPassword}">-->
<!--          </div>-->
          <div class="group">
            <label for="pass" class="label">NickName</label>
            <input id="pass" type="text" class="input" th:field="*{nickname}">
          </div>
          <div class="group">
            <input type="submit" class="button" value="Modify">
          </div>
          <div class="group">
            <a th:href="@{/}"><input type="button" class="button" value="Cancel"></a>
          </div>
          <div class="hr"></div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>